h1{
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkcyan;
}
body{
    text-align: center;
    background-color: beige;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: crimson;
    font-size: larger;
    border: 5px solid darkblue;
    border-radius: 10px;
}
a:active{
    color:darkgoldenrod;
}
a:visited{
    color:black;
}